/* fadeIn animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        ocpacity: 1;
    }
}

/* scroll-text animation */
@keyframes scroll-text {
    from {
        transform: translateX(25%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* marquee-text aniamtion */
@keyframes marquee-1 {
    100% {
        transform: translateX(-50%);
    }
}