/* Responsive article-container.item-1 h2 */
@media (max-width: 1200px) {
    .article-container.item-1 h2 {
        font-size: 150px;
        line-height: 100px;
    }
}

@media (max-width: 1000px) {
    .article-container.item-1 h2 {
        font-size: 150px;
        line-height: 80px;
    }
}

@media (max-width: 500px) {
    .article-container.item-1 h2 {
        font-size: 75px;
        line-height: 50px;
    }
}

/* Responsive article-container.item-1 p */
@media (max-width: 1200px) {
    .article-container.item-1 p {
        padding-top: 60px;
        margin: 0 300px;
    }
}

@media (max-width: 1000px) {
    .article-container.item-1 p {
        padding-top: 60px;
        margin: 0 300px;
    }
}

@media (max-width: 768px) {
    .article-container.item-1 p {
        padding-top: 30px;
        margin: 0 100px;
    }
}

@media (max-width: 500px) {
    .article-container.item-1 p {
        padding-top: 30px;
        margin: 0 80px;
    }
}

@media (max-width: 400px) {
    .article-container.item-1 p {
        padding-top: 30px;
        margin: 0 40px;
    }
}

/* Responsive title-section.section-1 */
@media (max-width: 1000px) {

    .title-section.section-1 {
        font-size: var(--fs-10);
        margin-top: 100px;
    }
}

/* Responsive Marquee-text */
@media (max-width: 1000px) {
    .marquee-1 {
        font-size: var(--fs-72);

    }
    .marquee-container {
        margin-top: 100px;
    }
}