@import url(./design.css);

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--grey-color);
    height: 100%;
}

#header-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: transparent;

    transition: top 2s;
}

#header-container p {
    color: var(--white-color);
}

.title-container,
.description {
    width: 100%;
}

.title-container {
    font-family: 'PPMondwest';
    font-size: var(--fs-16);
    font-weight: 900;
    font-style: italic;
    line-height: 0.9;

    transition: var(--animation-1);
    animation: var(--animation-style-1);
}

.description {
    text-align: right;
    font-family: 'NaturalMono';
    font-size: var(--fs-10);
    color: var(--white-color);

    transition: var(--animation-1);
    animation: var(--animation-style-1);
}

.description .item-3 {
    margin-left: var(--fs-10);
}

.content-container {
    margin-bottom: 500px;
}

.content-container .item-1 {
    width: 100%;
    margin: 0 auto;
}

.article-container.item-1 h2 {
    font-family: 'PPMondwest';
    font-size: var(--fs-300);
    color: var(--white-color);
    font-style: italic;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 230px;
    padding-top: 260px;

    transition: var(--animation-2);
    animation: var(--animation-style-2);
}

/* Responsive h2 */
@media (max-width: 1000px) {
    .article-container.item-1 h2 {
        font-size: 150px;
        line-height: 100px;
    }
}

@media (max-width: 500px) {
    .article-container.item-1 h2 {
        font-size: 75px;
        line-height: 50px;
    }
}

.article-container.item-1 p {
    display: block;
    font-family: 'NaturalMono';
    font-size: var(--fs-10);
    color: var(--white-color);
    letter-spacing: 1px;
    text-align: center;
    padding-top: 120px;
    margin: 0 500px;

    transition: var(--animation-2);
    animation: var(--animation-style-2);
}

/* Responsive p */
@media (max-width: 1000px) {
    .article-container.item-1 p {
        padding-top: 60px;
        margin: 0 300px;
    }
}

@media (max-width: 500px) {
    .article-container.item-1 p {
        padding-top: 30px;
        margin: 0 100px;
    }
}



.sections-container {
    width: 100%;
    margin: 0 auto;
}

.title-section.section-1 {
    font-family: '8NeutralGrotesk';
    font-size: var(--fs-24);
    color: var(--white-color);
    text-align: left;
    padding-left: 100px;
    margin-top: 300px;
}

.title-section.section-2 {
    font-family: '8NeutralGrotesk';
    font-size: var(--fs-24);
    color: var(--white-color);
    text-align: right;
    padding-right: 100px;
    margin-top: 300px;
}

.title-section.section-3 {
    font-family: '8NeutralGrotesk';
    font-size: var(--fs-24);
    color: var(--white-color);
    text-align: left;
    padding-left: 100px;
    margin-top: 300px;
}

.title-section.section-4 {
    font-family: '8NeutralGrotesk';
    font-size: var(--fs-24);
    color: var(--white-color);
    text-align: right;
    padding-right: 100px;
    margin-top: 300px;
}

@media (max-width: 1000px) {

    .title-section.section-1,
    .title-section.section-2,
    .title-section.section-3,
    .title-section.section-4 {
        font-size: var(--fs-10);
    }
}


/* GSAP Animation */
.title-section .text {
    width: 100%;
    color: var(--dark-color);
    background: var(--white-to-white) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;
}