@import url(./design.css);

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    background-color: var(--grey-color);
    height: 100%;
}

/* Navigation Sections */
#header-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;

    transition: top 2s;
}

#header-container p {
    color: var(--white-color);
}

.title-container,
.description {
    width: 100%;
}

.title-container {
    font-family: 'PPMondwest';
    font-size: var(--fs-16);
    font-weight: 900;
    font-style: italic;
    line-height: 0.9;

    transition: var(--animation-1);
    animation: var(--animation-style-1);
}

.description {
    text-align: right;
    font-family: 'NaturalMono';
    font-size: var(--fs-10);
    color: var(--white-color);

    transition: var(--animation-1);
    animation: var(--animation-style-1);
}

.description .item-3 {
    margin-left: var(--fs-10);
}

/* Main sections */
.content-container {
    margin-bottom: 500px;
}

.content-container .item-1 {
    width: 100%;
    margin: 0 auto;
}

.article-container.item-1 h2 {
    font-family: 'PPMondwest';
    font-size: var(--fs-300);
    color: var(--white-color);
    font-style: italic;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    line-height: 230px;
    padding-top: 160px;
    /* 260px */

    transition: var(--animation-2);
    animation: var(--animation-style-2);
}

.article-container.item-1 p {
    display: block;
    font-family: 'NaturalMono';
    font-size: var(--fs-10);
    color: var(--white-color);
    letter-spacing: 1px;
    text-align: center;
    padding-top: 120px;
    margin: 0 500px;

    transition: var(--animation-2);
    animation: var(--animation-style-2);
}

.divider {
    width: 10px;
    height: 10px;
    background-color: var(--white-color);
    margin-left: -20px;
}


.sections-container {
    width: 100%;
    margin: 0 auto;
}

.title-section.section-1 {
    font-family: '8NeutralGrotesk';
    font-size: var(--fs-24);
    color: var(--white-color);
    text-align: left;
    padding-left: 50px;
    margin-top: 200px;
}

/* GSAP Animation */
.title-section .text {
    width: 100%;
    color: var(--dark-color);
    background: var(--white-to-white) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;
}

/* marquee-text animation */
.marquee-container {
    display: flex;
    overflow: hidden;
    margin-top: 300px;
}

.marquee-1 {
    font-size: 100px;
    font-style: italic;
    line-height: 1.3;
    padding: 0 24px;
    color: var(--white-color);
    white-space: nowrap;

    animation: marquee-1 10s infinite linear;
}

.marquee-1::after {
    content: " 1. Learn Front-end Web Programming Languages";
}